
{% extends "base.html" %}

    {% block title %} 
    Company X Home Page 
    {% endblock title %} 
   


    {% block body_content %}
    <h1>Company X Home Page</h1>    
    <hr>
    <p class="h3"> The time now is : {% now "DATETIME_FORMAT" %} </p>    
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    {% for x in inventory_list %}    
                        <li>{{x}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <p>{{ greetings_msg }}</p>
    {% endblock body_content %}

    
